@import "bootstrap/dist/css/bootstrap.css";


html,body {
  height:100%;
  width:100%;
  margin:0;
  background-color: #D4DF9E;
  overflow:hidden;
}

.container-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: 100vh;
}

.container-login-img{
  display: flex;
  background-color: darkblue;
}

.card-login{
  width: 50%;
}

.card-body-login{
  display: flex;
  align-self: center;
  align-items:center;
  justify-content: center;
  width: 75%;
}
.form-login{
  width: 75%;
  display: flex;
  flex-direction: column;
}
.button-login{
  color: #fff;
  font-size: 16px;
  background: #fc6963;
  height: 56px;
  border: 0;
  border-radius: 5px;
}



@media only screen and (max-width: 768px) {
  .card-login{
    width: 100%;
  }
}

